<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    <section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax"/>
  </configSections>
  <magicAjax
  outputCompareMode="HashCode"
  tracing="false">
    <pageStore
   mode="NoStore"
   unloadStoredPage="false"
   cacheTimeout="5"
   maxConcurrentPages="5"
   maxPagesLimitAlert="false"
  />
  </magicAjax>
  
	<!-- 开始重写 -->
	<rewriter>
		<!--基本重写-->
		<rewrite url="~/Default.htm" to="~/Default.aspx"/>
		<rewrite url="~/UserLogin.htm" to="~/UserLogin.aspx"/>
		<rewrite url="~/ForgetPassword.htm" to="~/GetUserPwd.aspx"/>
    <rewrite url="~/UpdateMyPassword.htm" to="~/UpdateMyPassword.aspx"/>
		<rewrite url="~/Register.htm" to="~/Register.aspx"/>
		<rewrite url="~/Register-Person.htm" to="~/Reg-Per.aspx"/>
		<rewrite url="~/Register-Agent.htm" to="~/Reg-Age.aspx"/>
		<rewrite url="~/Links.htm" to="~/Friend-Links.aspx"/>
		<rewrite url="~/PubLink.htm" to="~/AddLink.aspx"/>
		<rewrite url="~/AboutUs.htm" to="~/AboutUs.aspx"/>
		<rewrite url="~/ContactUs.htm" to="~/ContactUs.aspx"/>
		<rewrite url="~/Ad.htm" to="~/AdService.aspx"/>
		<rewrite url="~/SiteMap.htm" to="~/SiteMaps.aspx"/>
		<rewrite url="~/PriceDir.htm" to="~/PriceDir.aspx"/>
		<rewrite url="~/feedback.htm" to="~/userfeedback.aspx"/>
		<rewrite url="~/qqqun.htm" to="~/qqgroup.aspx"/>
		<!--用户管理-->
		<rewrite url="~/MyUserCenter.htm" to="~/UserCenter.aspx"/>
		<!--经纪人-->
		<rewrite url="~/MyShop.htm" to="~/AgentCenter.aspx"/>
		<rewrite url="~/MySell.htm" to="~/MySells.aspx"/>
		<rewrite url="~/MyRent.htm" to="~/MyRents.aspx"/>
		<rewrite url="~/MyBuy.htm" to="~/MyBuys.aspx"/>
		<rewrite url="~/MyQiuZu.htm" to="~/MyQiuZus.aspx"/>
		<rewrite url="~/ZhongJie.htm" to="~/Agent.aspx"/>
		<rewrite url="~/Shop(\d+).htm" to="~/ShowAgent.aspx?UserID=$1"/>
		<rewrite url="~/Agent-Region-(\d+).htm" to="~/Agent.aspx?RegionID=$1"/>
		<rewrite url="~/Shop-Sell-(\d+).htm" to="~/ShopSell.aspx?UserID=$1"/>
		<rewrite url="~/Shop-Rent-(\d+).htm" to="~/ShopRent.aspx?UserID=$1"/>
		<rewrite url="~/Shop-WT-(\d+).htm" to="~/ShopWT.aspx?UserID=$1"/>
		<rewrite url="~/Shop-SendMsg-(\d+).htm" to="~/ShopSendMsg.aspx?UserID=$1"/>
		<!--二手房-->
		<rewrite url="~/PubSell.htm" to="~/AddSell.aspx"/>
		<rewrite url="~/Sell(\d+).htm" to="~/ShowSell.aspx?SellID=$1"/>
		<rewrite url="~/ershoufang.htm" to="~/SellList.aspx"/>
		<rewrite url="~/Sell-Region-(\d+).htm" to="~/SellList.aspx?RegionID=$1"/>
		<rewrite url="~/Sell-Area-(\d+).htm" to="~/SellList.aspx?AreaID=$1"/>
		<rewrite url="~/Sell-Price-35.htm" to="~/SellList.aspx?p=0-35"/>
		<rewrite url="~/Sell-Price-3550.htm" to="~/SellList.aspx?p=35-50"/>
		<rewrite url="~/Sell-Price-5080.htm" to="~/SellList.aspx?p=50-80"/>
		<rewrite url="~/Sell-Price-80120.htm" to="~/SellList.aspx?p=80-120"/>
		<rewrite url="~/Sell-Price-120200.htm" to="~/SellList.aspx?p=120-200"/>
		<rewrite url="~/Sell-Price-200.htm" to="~/SellList.aspx?p=200-10000"/>
		<rewrite url="~/Sell-HX-one.htm" to="~/SellList.aspx?h=one"/>
		<rewrite url="~/Sell-HX-two.htm" to="~/SellList.aspx?h=two"/>
		<rewrite url="~/Sell-HX-three.htm" to="~/SellList.aspx?h=three"/>
		<rewrite url="~/Sell-HX-four.htm" to="~/SellList.aspx?h=four"/>
		<rewrite url="~/Sell-HX-five.htm" to="~/SellList.aspx?h=five"/>
		<rewrite url="~/Sell-HX-fs.htm" to="~/SellList.aspx?h=fs"/>
		<rewrite url="~/Sell-HX-un.htm" to="~/SellList.aspx?h=under"/>
		<rewrite url="~/Sell-HX-oth.htm" to="~/SellList.aspx?h=oth"/>
		<!--求购房-->
		<rewrite url="~/Buy(\d+).htm" to="~/ShowBuy.aspx?BuyID=$1"/>
		<rewrite url="~/BuyList.htm" to="~/BuyList.aspx"/>
		<rewrite url="~/PubBuy.htm" to="~/AddBuy.aspx"/>
		<!--租房-->
		<rewrite url="~/PubRent.htm" to="~/AddRent.aspx"/>
		<rewrite url="~/Rent(\d+).htm" to="~/ShowRent.aspx?RentID=$1"/>
		<rewrite url="~/zufang.htm" to="~/RentList.aspx"/>
		<rewrite url="~/Rent-Region-(\d+).htm" to="~/RentList.aspx?RegionID=$1"/>
		<rewrite url="~/Rent-Area-(\d+).htm" to="~/RentList.aspx?AreaID=$1"/>
		<rewrite url="~/Rent-Price-500.htm" to="~/RentList.aspx?p=0-500"/>
		<rewrite url="~/Rent-Price-5001000.htm" to="~/RentList.aspx?p=500-1000"/>
		<rewrite url="~/Rent-Price-10001500.htm" to="~/RentList.aspx?p=1000-1500"/>
		<rewrite url="~/Rent-Price-15002000.htm" to="~/RentList.aspx?p=1500-2000"/>
		<rewrite url="~/Rent-Price-20002500.htm" to="~/RentList.aspx?p=2000-2500"/>
		<rewrite url="~/Rent-Price-25003000.htm" to="~/RentList.aspx?p=2500-3000"/>
		<rewrite url="~/Rent-Price-3000.htm" to="~/RentList.aspx?p=3000"/>
		<!--按类型-->
		<rewrite url="~/Rent-XiaoQu.htm" to="~/RentList.aspx?t=xq"/>
		<rewrite url="~/Rent-PuTongZhuZha.htm" to="~/RentList.aspx?t=pt"/>
		<rewrite url="~/Rent-ShangPu.htm" to="~/RentList.aspx?t=sp"/>
		<rewrite url="~/Rent-XieZiLou.htm" to="~/RentList.aspx?t=xzl"/>
		<rewrite url="~/Rent-GaoChengZhuZhai.htm" to="~/RentList.aspx?t=gj"/>
		<rewrite url="~/Rent-ShangPinLou.htm" to="~/RentList.aspx?t=szl"/>
		<rewrite url="~/Rent-CangKu.htm" to="~/RentList.aspx?t=ck"/>
		<rewrite url="~/Rent-ChangFang.htm" to="~/RentList.aspx?t=cf"/>
		<rewrite url="~/Rent-GongYu.htm" to="~/RentList.aspx?t=gy"/>
		<rewrite url="~/Rent-BieXu.htm" to="~/RentList.aspx?t=bx"/>
		<!--求租-->
		<rewrite url="~/QiuZu(\d+).htm" to="~/ShowWant.aspx?QZID=$1"/>
		<rewrite url="~/QiuZu.htm" to="~/QiuZu.aspx"/>
		<rewrite url="~/PubQiuZu.htm" to="~/AddQiuZu.aspx"/>
		<!--楼盘大全-->
		<rewrite url="~/LouPan.htm" to="~/GZHouses.aspx"/>
		<rewrite url="~/PubHouse.htm" to="~/AddHouse.aspx"/>
		<rewrite url="~/House(\d+).htm" to="~/ShowHouse.aspx?HouseID=$1"/>
		<rewrite url="~/House-Region-(\d+).htm" to="~/GZHouses.aspx?gid=$1"/>
		<rewrite url="~/House-Area-(\d+).htm" to="~/GZHouses.aspx?aid=$1"/>
		<rewrite url="~/HouseList.htm" to="~/HouseList.aspx"/>
		<!--资讯-->
		<rewrite url="~/news.htm" to="~/AskCenter.aspx"/>
		<rewrite url="~/PostQuestion.htm" to="~/AddAsk.aspx"/>
		<rewrite url="~/NewsList-Sid-(\d+).htm" to="~/AskList.aspx?Sid=$1"/>
		<rewrite url="~/NewsList-Cid-(\d+).htm" to="~/AskList.aspx?Cid=$1"/>
		<rewrite url="~/News(\d+).htm" to="~/ShowAsk.aspx?AskID=$1"/>
		<rewrite url="~/NewsList-Uid-(\d+).htm" to="~/AskList.aspx?Uid=$1"/>
		<rewrite url="~/NewsList.htm" to="~/AskList.aspx"/>
		<!--社区-->

<!--论坛-->
    <rewrite url="~/bbs/index.htm" to="~/bbs/Default.aspx"/>
    <rewrite url="~/bbs/class-(\d+).htm" to="~/bbs/CateList.aspx?Cid=$1"/>
    <rewrite url="~/bbs/sclass-(\d+).htm" to="~/bbs/CateList.aspx?Sid=$1"/>
    <rewrite url="~/bbs/post-(\d+).htm" to="~/bbs/ViewThread.aspx?Tid=$1"/>
	</rewriter>
	<!-- 重写结束 -->
	<connectionStrings>
    <add name="connectionString" providerName="System.Data.SqlClient" connectionString="server=localhost;uid=sa;pwd=jabby;database=FangChangDataBase"/>

</connectionStrings>
	<appSettings>
		<add key="city" value="惠州"/>
   
    <add key="loupanTG" value="yes"/>
    <!--是否启用网上售楼功能,yes为启用，no为不启用-->
    
    <add key="niminfabu" value="yes"/>
    <!--是否匿名发布信息,yes为是,no为否-->

    <add key="isauditedinfo" value="no"/>
    <!--信息是否需要审核,yes为需要审核,no为不需要审核-->




  </appSettings>
	<system.web>
		<httpModules>
			<add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter"/>
      <add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax" />
     
		</httpModules>

    
    
		<compilation debug="true">
   <assemblies>
    <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
    <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
    <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
   </assemblies>
  </compilation>
		<authentication mode="Forms">
			<forms name=".zzgzcookie" loginUrl="userlogin.htm" protection="All" timeout="90"/>
		</authentication>
		<customErrors mode="Off" defaultRedirect="default.htm">
			<error statusCode="403" redirect="Forbidden.html"/>
			<error statusCode="404" redirect="404.html"/>
		</customErrors>
		<sessionState timeout="90"></sessionState>
	<httpHandlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
		</httpHandlers>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
		<pages enableEventValidation="false" enableSessionState="true" validateRequest="false"></pages>
	</system.web>

 
  
</configuration>
